:root {
    --primary-color: #4D1A63;
    --secondary-color: #90AECF;
    --tertiary-color: #7F7382;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif
}
/* responsive header add sticky should follow page later */
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    flex-wrap: wrap;
    position:sticky;
}
/* space for my name and color/font weight */
header h1 {
    font-weight: bold;
    margin: 0;
    padding-top: 8px;
    font-size: 36px;
    color: #90AECF;
}
/* nav elements flex for future responsiveness */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}
/* space and look of nav elements. shadow aswell */
.nav-list a{
    padding: 10px 15px;
    font-size: 1.5vw;
    font-weight: lighter;
    color: #90AECF;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
}
/* background of nav elements should change colors now when hover over */
.nav-list a:hover {
    background: #90AECF;
    color: var(--primary-color);
    border-radius: 25px;
}
/* makes sections easier to style */
section {
    padding: 40px;
}
/* Hero image and size */
.hero {
    background-image: url(/assets/image/hero.jpg);
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    height: 450px;
}
/* container with img of me */

.hero-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 20%;
    margin: 20px 0px 0px 185px;
    border: 2px solid var(--primary-color);
    border-radius: 5%;
    background-color: rgba(77, 26, 99, 0.9);
}

.hero-h2 {
    color: var(--secondary-color);  
}

.me-img {
    max-height: 220px;
    max-width: 200px;
}

figure img {
    max-width: 100%;
    max-height: 100%;
}

.hero-p {
    color: var(--secondary-color);
}



/* mobile responsiveness */
@media screen and (max-width: 980px) {
 
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width:575px) {
    header nav ul li a {
        font-weight: bolder;
        font-size: 2.0vw;
    }

}